@using Inventory_Entities
@model IEnumerable<InventoryStatusReportViewModel>

<h2 class="mt-4">Report</h2>

<form method="get" asp-action="InventoryStatusReport">
    <div class="form-group mb-3">
        <label for="startDate" class="form-label">Start Date</label>
        <input type="date" id="startDate" name="startDate" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <label for="endDate" class="form-label">End Date</label>
        <input type="date" id="endDate" name="endDate" class="form-control" />
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Generate Report</button>
        <button type="button" class="btn btn-info ms-2" onclick="location.href='@Url.Action("ExportToExcel", new { startDate = ViewData["StartDate"], endDate = ViewData["EndDate"] })'">Export to Excel</button>
    </div>

</form>

<div class="container mt-4">
    <table class="table table-hover table-striped" id="reportTable">
        <thead class="table-dark">
            <tr class="table-primary">
                <th class="text-center" scope="col">Product Name</th>
                <th class="text-center" scope="col">Category</th>
                <th class="text-center" scope="col">Quantity in Stock</th>
                <th class="text-center" scope="col">Supplier</th>
                <th class="text-center" scope="col">Inventory</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && !Model.Any())
            {
                <tr>
                    <td colspan="5" class="text-center">No data available for the selected date range.</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center" scope="row">@item.ProductName</td>
                        <td class="text-center" scope="row">@item.CategoryName</td>
                        <td class="text-center" scope="row">@item.QuantityInStock</td>
                        <td class="text-center" scope="row">@item.SupplierName</td>
                        <td class="text-center" scope="row">@item.InventoryLocation</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
