@model Inventory_Entities.Product

@{
    ViewData["Title"] = "Delete Product";
}

<div class="container mt-4">
    <h1>@Model.productName</h1>
    <p><strong>Price:</strong> @Model.productPrice.ToString("C")</p>
    <p><strong>Description:</strong> @Model.productDescription</p>
    <p><strong>Category:</strong> @Model.category?.categoryName</p>
    <p><strong>Inventory:</strong> @Model.inventory?.InventoryName</p> <!-- Display the inventory name -->
    <p><strong>Created By:</strong> @Model.CreatedBy</p>
    <p>
        <strong>Image:</strong>
        <br />
        <img src="@Model.imageSrc" style="width:300px" class="img-thumbnail" />
    </p>

    <p><strong>Creation Date:</strong> @Model.CreationDate</p>

    <p>Are you sure you want to delete this product?</p>

    <form asp-action="DeleteItem" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
